* {
    margin: 0 px ;
    padding: 0 px ;
    box-sizing: border-box ;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin:0;
}
    
 
header {background-color: #EAC926;
}

.primeraSeccionHeader{
    display: flex;
    justify-content: space-around;
    padding-top: 4%;
    align-items: flex-start;
}

img.Logo-ml {
    width: 35%;
    align-self: center;
}

.barra-busqueda-icono{
    display: flex;
    align-self: center;
    gap: 2%;
    width: 40%;
 
}

.barra-busqueda{
    padding: 1px 1px;
    height: 10%;
    left:10%;
    text-indent: -1px;
    align-self: center;
   
}

#icono-lupa{
    padding: 2% 2%;
    background-color: white;
    color: black;
    width: 26%;
    height: 26%;
    border: 1px solid #777777;
    border-radius: 2px;
    align-self: center;
}

.advertencia-compra-cuotas{
    text-align: center;
    align-self: center;
}


/*.burger-menu{
    display: flex;
    justify-content: center;
    align-items: center;   
    height: 13%; 
    }
*/
/*.burger-menu i{
    background-color:#03264C;
    color: #ebebeb;
    padding: 3%;
    margin:5%;
    border-radius: 10px;
    font-size: 200%;
    
}*/
.formulario-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    }


.navbar{
    display: none;
}
input {
    width: 400;
}
.botonEnviar{
    display: flex;
    align-content: center;
    justify-content: center;
    color:white;
    background-color: #0022AA;
    width: 400;
    margin: auto;
}
.create-form{
    padding: 20px 15px;
}
.control-form{
    margin-bottom: 10px;

}
.control-form label{
    margin-bottom: 5px;
    display: block;
}
.control-form input{
    width: 80%;
    padding: 8px;

}
.control-form-interes{
    display:grid;
    margin-bottom: 5px;
}
.button-form{
    
    font-size: 20px;
    padding: 5px 10px;
}

.button-form-login{
    
    font-size: 20px;
    padding: 5px 10px;
}
.button-form-login:hover{
    background-color: #0022AA;
}

/*FOOTER*/

.pago-con-tarjeta{
    text-align: center;
}

.pago-con-tarjeta i{
    color: blue;
}

.pago-con-tarjeta h3{
    margin: 1px 10px 12px;
}

.pago-con-tarjeta p{
    margin: -15px 1px 1px;
}

.envio-gratis{
    text-align: center;
}

.envio-gratis i{
    color: blue;
}

.envio-gratis h3{
    margin: 1px 10px 12px;
}

.envio-gratis p{
    margin: -15px 1px 1px;
}

.seguridad-principio{
    text-align: center;
}

.seguridad-principio i{
    color: blue;
}

.seguridad-principio h3{
    margin: 1px 10px 12px;
}

.seguridad-principio  p{
    margin: -15px 1px 1px;
}



.navbar{
    display: none;
}

.section-articulos article section h3{
    display: none;
}